@charset: 'utf-8';
#wrap1{
	width: 936px;
	height: 316px;
	margin: 50px auto;
	border: 1px solid #333;
}
#wrap2{
	width: 936px;
	height: 316px;
	border: 1px solid #333;
	margin: 50px auto;
}
.clearfix:after{
	content: '.';
	display: block;
	visibility: hidden;
	height: 0;
	clear: both;
}
.clearfix{
	*zoom: 1;
}
.slide_wrap{
	overflow: hidden;
	position: relative;
}
.slide_main{
	position: absolute;
	height: 100%;
	z-index: 1;
}
.slide_main li {
	position: absolute;

}
.slide_tab {
	padding:5px 10px;
	display: flex;
	justify-content: space-between;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	bottom: 10%;
	z-index: 2;

}
.slide_tab li {
	width: 15px; 
	height: 15px; 
	border-radius: 50%; 
	background: #ffffff; 
	cursor: pointer;
	margin: 0px 8px;
}
.slide_tab .active {
	background: red;
}